
<h1><%=title%></h1>

<!--Creating posts section-->

<section id="posts">
        <h4>Posts</h4>
        <form action="" method="post">
                <input type="textarea" id="post-content" cols="30" row="20" placeholder="Type here....">
                <button type="submit" id="post">Post</button>
        </form>
</section>
